@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-black;
  }
  body::-webkit-scrollbar {
    width: 0px;
  }

  body::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-black rounded-[6px] border-2 border-bbrom border-solid;
  }
}

.bg-background {
  @apply text-black;
}

@layer components {
  .custom-scrollbar {
    position: relative;
    height: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 1.5rem;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Fundo transparente para a área de rolagem */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #000; /* Cor da "pegada" preta */
    border-radius: 8px;
    border: 1px solid #ffffff; /* Borda branca ao redor da "pegada" */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #EAB308; /* Cor da "pegada" quando passa o mouse */
  }
}

@keyframes fillAnimation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.custom-scrollbar .animate-fill {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #EAB308 50%, transparent 50%);
  animation: fillAnimation 3.5s ease-out forwards;
}

.ball {
  position: relative;
  background: linear-gradient(to right, black 50%, white 50%);
  transition: background-color 0.3s, transform 0.5s;
}

.ball:hover {
  animation: rotate 0.5s linear;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Regular.woff2') format('woff2'),
       url('/fonts/NeueMontreal-Regular.woff') format('woff');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Medium.woff2') format('woff2'),
       url('/fonts/NeueMontreal-Medium.woff') format('woff');
  font-weight: 500; /* Medium */
  font-style: normal;
}

